/* Cleaned Vite default styles to allow full width application */
html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}
